{% extends "layout.html" %}
{% block content %}
<h1>Sign Up</h1>
<form method="post" action="">
  <!--csrf_token needed for POST operation wtforms-->
  {{ form.csrf_token }}
  <div class="form-group row mb-3" style="margin-top: 45px;">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-10">
      <!-- Checking Bootstrap errors-->
      {% if form.email.errors %}
      {{form.email(class="form-control is-invalid")}}
      <!--INSERT SOURCE-->
      <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span> {{error}} </span>
        {% endfor %}
      </div>
      {% else %}
      <input type="email" class="form-control" id="inputEmail3" name="email">
      {% endif %}
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="inputUsername" class="col-sm-3 col-form-label">Username</label>
    <div class="col-sm-10">
      {% if form.username.errors %}
      {{form.username(class="form-control is-invalid")}}
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
        <span> {{error}} </span>
        {% endfor %}
      </div>
      {% else %}
      <input type="text" class="form-control" id="inputUsername" name="username">
      {% endif %}
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-10">
      {% if form.password.errors %}
      {{form.password(class="form-control is-invalid")}}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span> {{error}} </span>
        {% endfor %}
      </div>
      {% else %}
      <input type="password" class="form-control" id="inputPassword3" name="password">
      {% endif %}
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="inputConfirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      {% if form.confirm_password.errors %}
      {{form.confirm_password(class="form-control is-invalid")}}
      <div class="invalid-feedback">
        {% for error in form.confirm_password.errors %}
        <span> {{error}} </span>
        {% endfor %}
      </div>
      {% else %}
      <input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password">
      {% endif %}
    </div>
  </div>
  <div class="form-group row mb-3">
    <label for="user_role" class="col-sm-3 col-form-label">Account Type</label>
    <div class="col-sm-10">
      <select name="user_role" id="user_role" class="form-control" required>
        <option value="" disabled selected>Select account type</option>
        <option value="OU">Personal</option>
        <option value="CU">Business</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-success" style="margin-bottom:30px;">Sign Up</button>
</form>
<div class="border-top pt-3">
  <small class="text-muted">
    Already have an account? <a class="ml-2" href="{{url_for('login')}}">Login</a>
  </small>
</div>
{% endblock %}