<!-- paste Schafer source -->
<!-- Extend part from home || other way around-->
<!-- for displaying a single post-->
{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ users.loc[users['username'] == posts.iloc[0].username, 'image_file'].values[0] }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ posts.iloc[0].username }}</a>
        <small class="text-muted">{{ posts.iloc[0].date_posted }}</small>
      </div>
        <h2 class="article-title">{{ posts.iloc[0].title }}</h2>
        <p class="article-content">{{ posts.iloc[0].content }}</p>
      </div>
  </article>
  <!-- Modal: TAKEN DIRECTLY FROM BOOTSTRAP (LIVE DEMO): pop-up window to make sure user wants to delete -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=posts.post_id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}